<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Prog6212_POE_ST10150631.Properties.Settings.StudySyncDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\StudySyncDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
<add name="StudySyncDBEntities" connectionString="metadata=res://*/StudySyncEF_Model.csdl|res://*/StudySyncEF_Model.ssdl|res://*/StudySyncEF_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\StudySyncDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>